<div>
<label for="">Question</label>
{{input value=question}}
</div>
<div>
  <label for="public">Public</label>
  {{input type="checkbox" name="public" checked=public}}
</div>
{{#each choices}}
<div>
<label for="">Choice</label>
{{#if editable}}
{{input value=text}}
<button type="submit" {{action removeChoice this}}>Remove choice</button>
{{else}}
{{input value=text disabled=true}}
Can't edit a choice that's been voted on.
{{/if}}
</div>
{{/each}}
<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action newChoice this}}>Add Choice</button>
<button type="submit" {{action cancel this}}>Cancel</button>
