<h1>{{question}}</h1>
{{#if canEdit}}
  <button {{action destroyRecord this}}>Delete poll</button>
  {{#link-to 'polls.edit'}}Edit Poll{{/link-to}}
{{/if}}
<ul>
  {{totalVotes}}
  {{#if hasNotVoted}}
    {{#each choices}}
      <li>{{text}} {{votes.length}} votes 
      <button {{action vote this}}>Vote</button></li>
    {{/each}}
  {{/if}}
</ul>
