<h1>{{question}}</h1>
<button {{action destroyRecord this}}>Delete poll</button>
{{#if canEdit}}
  {{#link-to 'polls.edit'}}Edit Poll{{/link-to}}
{{/if}}
<ul>
  {{totalVotes}}
  {{#each choices}}
    <li>{{text}} {{votes.length}} votes 
    <button {{action vote this}}>Vote</button></li>
  {{/each}}
</ul>
